@import url('https://fonts.cdnfonts.com/css/museo-sans-rounded');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Museo Sans Rounded', sans-serif;
}

body {
    background-color: rgba(189, 192, 187, 0.685);

}

/* INDEX */
.header {
    background-color: #102997;
}

.banner {
    background-image: url('../recursos/bg-home-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.logo {
    height: 100px;
    width: 220px;
}

.h1-index {
    font-size: 5.5rem;
    text-align: left;
}

.div-banner {
    padding-top: 170px;
}

.img-banner {
    height: 250px;
    width: 600px;
}

/* Main */
.bg-section2 {
    background-image: url('../recursos/bg-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

.div-section2 {
    padding-top: 150px;
}

/* Header NE */
.header-ne {
    background-image: url('../recursos/BG-1header.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

/* Testimonios */
.testimonio-border {
    border: 2px solid grey;
}

/* SERVICIOS */

.h1-color {
    font-size: 5rem;
    color: #0d6efd;
}

.h2-color {
    margin: auto;
    background-color: #0d6efd;
    color: #fff;
    border-radius: 20px;
    font-size: 1.5rem;
    width: 250px;
}

.img-servicio {
    height: 200px;
    width: 300px;
    border-radius: 20px;
    border: 5px solid #7aa3e0;
}


.w-comentarios {
    width: 25%;
}

/* Nuestro Equipo */
.img-size {
    width: 200px;
    height: 200px;
    /* border: 1px solid grey; */
}

.card-borderpx {
    border: 2px solid black;
}

/* Footer */

.footer {
    background-image: url('../recursos/footer.svg');
    color: rgb(40, 65, 175);
    min-height: 495px;
}

.div-footer {
    padding-top: 200px;
}

.logo-footer {
    width: 175px;
    height: 55px;
}

.hr-footer {
    color: white;
}

.p-footer {
    width: 320px;
}

.slide-display2 {
    display: none;
}

.link-page-stay {
    background-color: #0d6efd;
    border-radius: 15px;
}

.link-hov:hover {
    background-color: #0d6efd;
}

.foto-ne {
    height: 195px;
    width: 146px;
}

.nemesis {
    padding-top: 105px;
}

.card-border {
    border-radius: 20px;
}

.img-mapa {
    border-radius: 20px;
    border: 2px solid gray
}

.historia-img-border {
    border: 2px solid rgb(11, 34, 57);
    background-color: #fff;
}
.form-opa{
    opacity: 85%;
}
.fondo-form {
    background-image: url('../recursos/fondo-form.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .div-footer {
        padding-top: 150px;
    }

    .h1-index {
        font-size: 3rem;
        text-align: center;
    }

    .h1-color {
        font-size: 3rem;
        color: #0d6efd;
    }

    .img-banner {
        height: 180px;
        width: 100%;
    }

    .div-banner {
        padding-top: 0px;
    }

    .slide-display {
        display: none;
    }

    .slide-display2 {
        display: unset;
    }

    .img-carousel {
        width: 200px;
        height: 200px;
    }

    .div-section2 {
        padding-top: 60px;
    }

    .header-ne {
        height: 480px;
    }

    .banner {
        height: 60vh;
    }
}